/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* start my own code here */
html,
body {
  height: 100%;
  width: 100%;
  background-color: lightsteelblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  background-color: steelblue;
  align-items: center;
}

.icon {
  width: 40%;
  height: auto;
  margin: 4vh;
}

.greek-column {
  width: 5%;
  height: auto;
  position: fixed;
  bottom: 2%;
}

.score-display,
.sidebar-title {
  font-size: 4vh;
  margin: 1vh;
}

.main-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 8vh;
  text-align: center;
  margin: 3vh;
}

h3 {
  font-size: 4vh;
  text-align: center;
}

.prompt {
  margin-bottom: 5vh;
}

.game-choice-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.classic-buttons,
.difficult-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.game-choice-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh;
  background-color: inherit;
  border-radius: 12px;
  border: 3px solid steelblue;
  width: 50%;
}

.game-choice-button:hover {
  background-color: #C8C8C7;
}

.choice-image {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.choice {
  width: 25%;
  height: auto;
  background-color: inherit;
  display: flex;
  flex-direction: row;
  border: 3px solid steelblue;
  border-radius: 0;
  margin: 1%;
  padding: 0;
}

.choice:hover {
  border: 6px solid steelblue;
}

h4 {
  font-size: 4vh;
  margin: 1vh;
}

.game-choice-button>p {
  font-size: 3vh;
  padding: 1vh;
}

.hidden {
  display: none;
}