/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* start my own code here */
html,
body {
  height: 100%;
  width: 100%;
  background-color: #D8E2EF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Georgia, serif;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  background-color: steelblue;
  align-items: center;
}

.icon {
  width: 40%;
  height: auto;
  margin: 4vh;
}

.greek-column {
  width: auto;
  height: 40%;
  position: fixed;
  bottom: 2%;
}

.score-display,
.sidebar-title {
  font-size: 4vh;
  margin: 1vh;
}

.change-game {
  position: fixed;
  bottom: 55%;
  font-size: 2vh;
  padding: .4%;
  background-color: #D8E2EF;
  border: 2px solid black;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

.main-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 8vh;
  text-align: center;
  margin: 3vh;
}

h3 {
  font-size: 4vh;
  text-align: center;
}

.prompt {
  margin-bottom: 3vh;
}

.game-choice-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.classical-buttons,
.existentialism-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.game-choice-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh;
  background-color: #C0D0E5;
  border-radius: 12px;
  border: 3px solid steelblue;
  width: 50%;
  font-family: Georgia, serif;
}

.game-choice-button:hover {
  background-color: lightsteelblue;
}

.game-choice-button>p {
  font-size: 150%;
  width: 98%;
  padding: 2%;
}

h4 {
  font-size: 300%;
  width: 98%;
  padding: 2%;
}

.choice-image {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.game-results {
  display: flex;
  flex-direction: column;
}

.display-winner,
.winning-quote {
  text-align: center;
  margin: 2%;
}

.display-winner {
  font-size: 4vh;
}

.winning-quote {
  font-size: 2.5vh;
}

.game-results-images {
  display: flex;
  justify-content: space-around;
}

.human-choice-image,
.computer-choice-image {
  width: 25%;
  height: auto;
  margin: 5%;
  border: 6px solid black;
}

.human-winner-styling {
  border: 6px solid green;
}

.computer-winner-styling {
  border: 6px solid red;
}

.winner-token {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.human-icon,
.computer-icon {
  width: 4%;
  height: auto;
}

.choice {
  width: 25%;
  height: auto;
  background-color: inherit;
  display: flex;
  flex-direction: row;
  border: 3px solid steelblue;
  border-radius: 0;
  margin: 1%;
  padding: 0;
}

.choice:hover,
.game-choice-button:hover,
.change-game:hover {
  transform: scale(1.02);
  transition-duration: .15s;
}

.change-game:hover {
  background-color: lightsteelblue;
}

.change-game:disabled {
  background-color: #C8C8C7;
  cursor: default;
  transform: none;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}